@import "tailwindcss";

@theme {
  --animate-shake: shake 0.2s ease-in-out 0s 2;

  @keyframes shake {
    0% {
      transform: translateX(0rem);
    }
    25% {
      transform: translateX(-0.5rem);
    }
    50% {
      transform: translateX(0rem);
    }
    75% {
      transform: translateX(0.5rem);
    }
    100% {
      transform: translateX(0rem);
    }
  }
}

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes ultraviolet-background-animation {
    0% {
        --c-0: hsla(273.4054054054054, 100%, 63%, 1);
        --x-0: 44%;
        --y-0: 88%;
        --s-start-0: 12%;
        --s-end-0: 55%;
        --c-1: hsla(187.68595041322314, 100%, 47%, 1);
        --x-1: 65%;
        --y-1: 4%;
        --s-start-1: 8%;
        --s-end-1: 72%;
        --c-2: hsla(292.53588516746413, 96%, 57%, 1);
        --x-2: 84%;
        --y-2: 88%;
        --s-start-2: 3%;
        --s-end-2: 65%;
        --c-3: hsla(79.82608695652175, 100%, 45%, 1);
        --x-3: 22%;
        --y-3: 44%;
        --s-start-3: 6%;
        --s-end-3: 40%;
        --c-4: hsla(345.4708520179372, 100%, 56%, 1);
        --x-4: 22%;
        --y-4: 22%;
        --s-start-4: 6%;
        --s-end-4: 40%;
    }

    100% {
        --c-0: hsla(275.09433962264154, 82%, 37%, 1);
        --x-0: 88%;
        --y-0: 94%;
        --s-start-0: 22%;
        --s-end-0: 80%;
        --c-1: hsla(199.18032786885246, 100%, 47%, 1);
        --x-1: 44%;
        --y-1: 12%;
        --s-start-1: 8%;
        --s-end-1: 72%;
        --c-2: hsla(329.2173913043478, 100%, 45%, 1);
        --x-2: 95%;
        --y-2: 45%;
        --s-start-2: 5%;
        --s-end-2: 52%;
        --c-3: hsla(160, 100%, 30%, 1);
        --x-3: 95%;
        --y-3: 45%;
        --s-start-3: 20%;
        --s-end-3: 55%;
        --c-4: hsla(30.133333333333336, 100%, 44%, 1);
        --x-4: 22%;
        --y-4: 22%;
        --s-start-4: 20%;
        --s-end-4: 55%;
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(273.4054054054054, 100%, 63%, 1)
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 44%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 88%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 12%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(187.68595041322314, 100%, 47%, 1)
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 65%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 4%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(292.53588516746413, 96%, 57%, 1)
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 84%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 88%
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 3%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 65%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(79.82608695652175, 100%, 45%, 1)
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 44%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 6%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 40%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(345.4708520179372, 100%, 56%, 1)
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 6%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 40%
}

.ultraviolet-background-animation {
    --c-0: hsla(273.4054054054054, 100%, 63%, 1);
    --x-0: 44%;
    --y-0: 88%;
    --c-1: hsla(187.68595041322314, 100%, 47%, 1);
    --x-1: 65%;
    --y-1: 4%;
    --c-2: hsla(292.53588516746413, 96%, 57%, 1);
    --x-2: 84%;
    --y-2: 88%;
    --c-3: hsla(79.82608695652175, 100%, 45%, 1);
    --x-3: 22%;
    --y-3: 44%;
    --c-4: hsla(345.4708520179372, 100%, 56%, 1);
    --x-4: 22%;
    --y-4: 22%;
    background-color: hsla(357.1014492753623, 96%, 57%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: ultraviolet-background-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal, normal;
}
